<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Feedback Submitted Successfully
    </title>
</head>
<body>
    <h2>
        Feedback submitted successfully! Thank you for your valuable input. We will review your feedback and get back to you if necessary.
    </h2>
    <p> Thank you, {{data.name}}.</p>

    <h3> Your feedback details: </h3>
    <p><b>Name:</b> {{data.name}}</p>
    <p><b>Email:</b> {{data.email}}</p>
    <p><b>Course:</b> {{data.course}}</p>
    <p><b>Issue Type:</b> {{data.issue_type}}</p>
    <p><b>Message:</b> {{data.message}}</p>

    <a href = "/">
        <button> Back to Home </button>
    </a>
</body>


</html>