<!DOCTYPE html>
<html lang='en'>

<meta charset='utf-8'>
<title>DEPELOYMENT</title>

<body>
<h1>Weekday Deployment Class </h1>
<p> By Learnbay</p>

<body>
<body>
    <form>
            <input type = "text" name = "first_name" placeholder = "First Name" required = "True"> </input>

            <input type = "text" name = "last_name" placeholder = "Last Name" required = "True"> </input>

            <input type = "email" name = "email" placeholder = "Email Address" required = "True"> </input>

            <input type = "tel" name = "phone_number" placeholder = "Phone Number" required = "True"> </input>

            <button> Submit</button>
    </form>   
</body>

</html>