<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>DEPELOYMENT</title>
</head>


<body>
    <h1>Weekday Deployment Class </h1>
    <p> By Learnbay</p>

    <form>
        <input type="text" name="first_name" placeholder="First Name" required="True"> 

        <input type="text" name="last_name" placeholder="Last Name" required="True"> 

        <input type="email" name="email" placeholder="Email Address" required="True"> 

        <input type="tel" name="phone_number" placeholder="Phone Number" required="True"> 

        <button> Submit</button>
    </form>
</body>

</html>